*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
 }
 ul {
    list-style: none;
 }

 li{
     margin: 20px;
 }
 a {
    text-decoration: none;
    outline: none;
 }
 img {
    display: block;

 }
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: normal;
    letter-spacing: 1px;
 }
 body {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #c9bf8a;

}

section {
    height: 1000px;
    padding: 0 15px;
}

.book  {
   font-size: 18px;
   margin: 15px;
   display: flex;
}

.book > .text {
   margin: 0 20px;
}

.book > .text > h4 {
   color: crimson;
   font-size: 18px;
}

.book > .text > p {
   margin-bottom: 10px;
}