<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Book</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
  <section>
      <div class="content">
        <div class="posts-list">
          <div class="posts-text">
            <h1>Добро пожаловать!</h1>
            <div class="posts-text-info">
              <h3>“КнигаПочтой” - это каталог книг, с помощью которого вы можете заказывать книги разных жанров: триллеры, фантастика, роман и т.д.</h3>
              <h3>Что если вас интересует печатное издание любимой книги? Вдруг в местной библиотеке ее нет? Заглените на наш сайт и закажите книгу и она придет вам по почте</h3>
            </div>
            <div class="btn">
              <a href="#">Каталог</a>
            </div>
          </div>
          <div class="post-image"><a href="#"><img src="media\depositphotos_73146765-stock-photo-a-stack-of-books-on.jpg"></a></div>
        </div>
      </div>
    </section>
    </div>
    <section>
      <div class="content">
        <div class="catalog">
          <div id="filter" class="help">
            <form action="" method="post">
              {% csrf_token %}
              {{ form }}
              <button type="submit">Фильтровать</button>
            </form>
            <li>введите название книги и нажмите кнопку фильтровать</li>
            <li>получите фильтрованный каталог</li>
            <li>нажмите на интересующую вас книгу</li>
            <li>вы попадете на форму заказа</li>
            <li>заполните форму</li>
          </div>
          <div class="books">
              {% for book in books_list %}
            <div class="book">
              <div class="book-img">
                <a href="{{ book.id }}"><img src="{{ book.image.url }}" alt=""></a>
              </div>
              <p class="book-title">
                <a href="#">{{ book.title }}</a>
              </p>
              <p class="book-auth">{{ book.authors }}</p>
              <p class="book-price">{{ book.price }}р.</p>
            </div>
              {% endfor %}
        </div>
      </div>
    </section>
  </body>
</html>